<!DOCTYPE html>
<html>
<head>
  <style>
      h1{
          color:blue;
          text-align: center;
          margin-left: 00px;
      }
      div {

          background-color: lightgreen;
          width: 800px;
          align: center;
          padding: 100px;
          border: 40px solid blue;
          margin: 20px;
      }
      body {
          background-color: yellow;
          background-repeat: repeat-x-fast;
      }
      body {
          background-image: url("images/background7.jpg");
      }
      p
  </style>
</head>
<body>
<b> ABOUT US  </b>
<h3> <div>A tuition free public charter school that provides a high quality education to home school and independent study primary school students.
  This is an online schooling system, where everyone can learn. Because learning is a way to Success. </div> </h3>
<a href="index.html" style="  text-decoration: none;}" > <b> RETURN TO MAIN PAGE  </b> </a>
<tr id="footer">
  <td colspan="2">
    <h4> Copyright © 2015 www.onlineteacher.com.pk. All Rights Reserved. </h4>

  </td>
</tr>
</body>
</html>
