<!DOCTYPE html>
<html>
<head>
  <style>
      h1 {
          color: blue;
          text-align: center;
          margin-left: 00px;
      }
      h4 {
          color: blue;
          text-align: center;
          margin-left: 00px;
      }
      body {
          background-color: yellow;
          background-repeat: repeat-x-fast;
      }
      body {
          background-image: url("images/line.gif");
      }

  </style>
</head>
<body>
<div style="background-color:none; color:white; padding:20px;"> <h1>	  </h1> </a> </div>
<div style="background-color:none; color:white; padding:20px;"> <h1>	  </h1> </a> </div>
<div style="background-color:none; color:white; padding:20px;"> <h1>	  </h1> </a> </div>
<div style="background-color:brown; color:white; padding:20px;"> <a href="login1.html"}"> <b> <h1>           LOGIN BY USER NAME</h1> </a> </b></div>
<div style="background-color:black; color:white; padding:20px;"> <p class="italic">
  <a href="pinlogin.html"}"> <b> <h1>                LOGIN BY PIN </b>  </h1> </p> </div> </a>
<a href="FORGETPASSWORD.html"}"> <button type="button" > <H2> FORGET PASSWORD </button></a></H2>
<tr id="footer">
  <td colspan="2">
    <h4> Copyright © 2015 www.onlineteacher.com.pk. All Rights Reserved. </h4>

  </td>
</tr>
</body>