
<!DOCTYPE html>
<html>
<head>
  <style>
      h1{
          color: blue;
          text-align: center;
          margin-left: 00px;
      }
      h4{
          color:blue;
          text-align: center;
          margin-left: 00px;
      }
      body {
          background-image: url("images/stars.gif");
      }
  </style>
</head>
<body>
<div style="background-color:none; color:white; padding:20px;"> <h1>	  </h1> </a> </div>
<div style="background-color:none; color:white; padding:20px;"> <h1>	  </h1> </a> </div>
<div style="background-color:BLACK; color:white; padding:20px;"> <h1>	WELCOME TO TEACHERS CORNER </h1> </a> </div>
<div style="background-color:brown; color:white; padding:20px;"> <h2>Teacher Available : JIMMY</h2> </a> </div>
<div style="background-color:green; color:white; padding:20px;"> <h2>Skype ID : jimmy123</h2> </a> </div>
<a href="index.html" style="  text-decoration: none;}" > <div> <h1> <b> RETURN TO MAIN PAGE  </b></h1> </a>
<tr id="footer">
  <td colspan="2">
    <h4> Copyright © 2015 www.onlineteacher.com.pk. All Rights Reserved. </h4>

  </td>
</tr>
</body>