<!DOCTYPE html>
<html>
<style>
    .next{
        border: 20px solid rgb(131, 6, 6);
        width: 500px;
        height: 200px;

    }
    body {
        background-image: url("images/loginpic.jpg");
    }
    h4{
        color:blue;
        text-align: center;
        margin-left: 00px;
    }
</style>
<body>
<div style="background-color:none; color:white; padding:20px;"> <h1>	  </h1> </a> </div>
<div style="background-color:none; color:white; padding:20px;"> <h1>	  </h1> </a> </div>
<div class="next">
  <form action="">
    <p>       </p>
    <hr>
    Email:<br>
    <input type="text" name="email " size="35">   <br>
    PIN:  <br>  <input type="text" name="pin  " maxlength="4" size="35"><br>
  </form>
  <button type="button" onclick="alert('You are Successfully login Go to main PAGE')">SIGN UP</button></a>
  <a href="index.html" style="  text-decoration: none;}" > <div> <h1> <b> MAIN PAGE  </b></h1> </a>
  <tr id="footer">
    <td colspan="2">
      <h4> Copyright © 2015 www.onlineteacher.com.pk. All Rights Reserved. </h4>

    </td>
  </tr>
</div>
</body>
</html>
