<!DOCTYPE html>
<html>
<style>
    body {
        background-image: url("images/roll.gif");
    }
    h4{
        color:blue;
        text-align: center;
        margin-left: 00px;
    }
</style>
<body>
<div style=" color:BLACK; padding:20px;"> <h2>
  <img src="images/smiley.gif" alt="Smiley face" width="42" height="42">
  <img src="images/smiley.gif" alt="Smiley face" width="42" height="42">
  YOUR SUGGETIONS ARE VALUEABLE TO US
  <img src="images/smiley.gif" alt="Smiley face" width="42" height="42">
  <img src="images/smiley.gif" alt="Smiley face" width="42" height="42">
</h2> </a> </div>
<form action="action_page.php">
<textarea name="message" rows="10" cols="30">

</textarea>
  <br><br>
  <button type="button" onclick="alert('Suggetion Taken!')">Submit</button>
</form>
<a href="index.html" style="  text-decoration: none;}" > <div> <h1> <b> RETURN TO MAIN PAGE  </b></h1> </a> </div>
<tr id="footer">
  <td colspan="2">
    <h4> Copyright © 2015 www.onlineteacher.com.pk. All Rights Reserved. </h4>

  </td>
</tr>
</body>
</html>
